DB_PASS=editthispass
DB_HOST=%
DB_URI=mysql+pymysql://db_user:db_pass@host/db_name
APP_PORT=8000

DB_TYPE=mysql+pymysql
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=root
DB_NAME=book_shop

DB_URI=mysql+pymysql://root:root@localhost:3306/book_shop